body{
    background-color: green;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}
/* creating box which will contain all information for the quiz*/
.quiz-wrapper{
    height: 400px;
    width: 600px;
    background-color: white;
    margin: 30px auto;
    border-radius: 8px;
    padding:25px
}

.quiz-wrapper .question{
    min-height: 50px;
    background-color: teal;
    border-radius: 8px;
    color: white;
    padding: 15px;
    float: left;
    width: 100%;
    font-size: 25px;
}

/* styling for option boxes */

.quiz-wrapper .options{
    float: left;
    width: 100%;
}

.quiz-wrapper .options ul{
    list-style: none;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quiz-wrapper .options ul li{
    display: inline-block;
    background-color: #607d8b;
    width: 46%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin: 10px;
    color:white;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
}

